html, body {
    /*
        prevents the horizontal scrollbar
    */
    overflow-x: hidden;

/*    margin: 0;
    padding: 0;
    height: 100%;*/
/*
    background-color:  #FEFEFE;
*/

}

/* Regular font style */
@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Medium font style */
@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Medium Italic font style */
@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* Bold font style */
@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Bold Italic font style */
@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Apply the Poppins font to various elements */
body, button, input, select, optgroup, textarea {
    font-family: 'Poppins', sans-serif !important;
}

.parallax-container {
  height: 100vh;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("/assets/header_compressed.jpg");
  background-size: cover;
    /*parallax effect*/
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.image-and-dots-container {
    position: relative;
    width: 100%;
    height: auto;
}

#background-image {
    width: 100%;
    height: auto;
}

.image-class {
    position: absolute;
    top: 25%;
    left: 10%;
    height: 30px;
    z-index: 1;
}

.image-overlay {
    position: absolute;
    top: 25%;
    left: 10%;
    height: 30px;
    width: auto;
    background-color: rgba(0, 128, 0, 0.5);
    z-index: 2;
}
/*
workaround to make sure that navbar scrolls together with the page
*/
.sticky-navbar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the navbar is always on top */
}


.navbar-transparent {
    background: transparent !important;
}


.leaflet-container {
    max-width: 100%;
    height: 370px;
    border: 1px solid black;
}

.icon-responsive {
    max-width: 150px;
}

@media (max-width: 575.98px) { /* xs screens and below */
    .icon-responsive {
    max-width: 50px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) { /* sm screens */
    .icon-responsive {
    max-width: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) { /* md screens */
    .icon-responsive {
    max-width: 50px;
  }
}

/*
customize images in the component where live weather data is displayed ("Aktuelle Bedingungen")
*/
.custom-card-img {
    max-width: 70px !important;
}

.footer {
    background-color: #f8f9fa;  /* A light grey color, change as desired */
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
